 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <img alt="aws" src="{{ "/assets/img/aws.jpg" | prepend: site.baseurl }}" />
      <i class="devicon-mocha-plain colored"></i>
      <img alt="socket.io" src="{{ "/assets/img/socket.jpg" | prepend: site.baseurl }}" />
      <img alt="swagger" src="{{ "/assets/img/swagger.jpg" | prepend: site.baseurl }}" />
      <img alt="es6" src="{{ "/assets/img/es6.jpg" | prepend: site.baseurl }}" />
      <p>What I frequently use</p>
    </div>
    <div class="tech">
      <h2>Techs</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-typescript-original colored"></i>
      <img alt="es6" src="{{ "/assets/img/c.jpg" | prepend: site.baseurl }}" />
      <p>Passion for specialized development in backend technologies</p>
    </div>
    <div class="tech">
      <h2>Learning</h2>
      <i class="devicon-go-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <img alt="rust" src="{{ "/assets/img/rust.jpg" | prepend: site.baseurl }}" />
      <img alt="deno" src="{{ "/assets/img/deno.jpg" | prepend: site.baseurl }}" />
      <p>Constant learner, I am currently interested in low-level languages</p>
    </div>
</div>
